[Desktop Entry]
Version=1.0
Name=Record Desktop
Type=Application
GenericName=FFMPEG desktop recording
Terminal=false
Exec=ffrecdesk
Icon=ffmpeg
Categories=ConsoleOnly;System;
Keywords=system
OnlyShowIn=dwm