[Desktop Entry]
Version=1.0
Name=Sqlmap-Shell
Type=Application
GenericName=Torrified Sqlmap-Shell
Terminal=false
Exec=sqlmap-shell
Icon=sqlmap
Categories=ConsoleOnly;System;
Keywords=system
