[Desktop Entry]
Version=1.0
Name=Wpa-reset
Type=Application
GenericName=Reset network
Terminal=false
Exec=wpa-reset
Icon=wpa-reset
Categories=ConsoleOnly;System;
Keywords=system
OnlyShowIn=dwm