[Desktop Entry]
Version=1.0
Name=Wpa-on
Type=Application
GenericName=Turn network on 
Terminal=false
Exec=wpa-on
Icon=wpa-on
Categories=ConsoleOnly;System;
Keywords=system
OnlyShowIn=dwm