[Desktop Entry]
Version=1.0
Name=Wpa-off
Type=Application
GenericName=Turn network off
Terminal=false
Exec=wpa-off
Icon=wpa-off
Categories=ConsoleOnly;System;
Keywords=system
OnlyShowIn=dwm