[Desktop Entry]
Version=1.0
Name=Wpa_supplicant CLI
Type=Application
GenericName=Wpa_supplicant CLI
Terminal=false
Exec=wpa-cli
Icon=wpa_cli
Categories=ConsoleOnly;System;
Keywords=system
OnlyShowIn=dwm